<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyp.demo.mapper.FileUploadMapper">


    <select id="findAll" parameterType="Integer" resultType="com.lyp.demo.pojo.FileUpload">
    select * from t_files where userId=#{id};
    </select>

    <select id="findFileById" parameterType="Integer" resultType="com.lyp.demo.pojo.FileUpload">
        select * from t_files where id=#{id};
    </select>

    <insert id="saveFile" parameterType="com.lyp.demo.pojo.FileUpload">
        insert into t_files (oldFileName,newFileName,ext,path,size,type,isImg,downCounts,uploadTime,globalPath,userId)
        values (#{oldFileName},#{newFileName},#{ext},#{path},#{size},#{type},#{isImg},#{downCounts},#{uploadTime},#{globalPath},#{userId});
    </insert>


    <update id="updateFileDownCounts">
        update t_files set downCounts = #{downCounts} where id=#{id};
    </update>
    <delete id="deleteFileById" parameterType="Integer">
        delete from  t_files where id=#{id};
    </delete>
</mapper>